button {
  font:             inherit;
  background-color: #ebb002;
  border:           1px solid #ebb002;
  color:            #201d0f;
  padding:          0.5rem 1.5rem;
  margin:           0.5rem 0;
  border-radius:    4px;
  cursor:           pointer;
  }

.button:hover,
.button:active {
  background-color: #ebc002;
  border-color:     #ebc002;
  }
